.header {
  margin: 30px 0 20px;
  padding: 10px 20px;
  color: #FFE300;
  background-color: #484e55;
  border-radius: 4px;

  &__pages-counter {
    font-size: 22px;
    line-height: 26px;
    color: #FFE300;
    text-align: center;
    letter-spacing: 1px;
  }
}
