.planet {
  margin: 20px 0;
  padding: 15px;
  color: #c8c8c8;
  background-color: #313539;
  text-align: center;
  border-radius: 4px;
  letter-spacing: 0.7px;

  &:hover {
    background-color: #3a3f43;
    cursor: pointer;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
  }

  &__climate {
    margin-bottom: 5px;
  }

  &__population {

  }
}
