<div class="container">
  <div class="planet-info" *ngIf="planet">
    <div class="planet-info__name">{{ planet.name }}</div>

    <div class="planet-info__description">
      <div class="planet-info__block">
        <div class="planet-info__rotation-period"><i>Rotation period:</i> {{ planet.rotation_period }}</div>
        <div class="planet-info__gravity"><i>Gravity:</i> {{ planet.gravity }}</div>
        <div class="planet-info__diameter"><i>Diameter:</i> {{ planet.diameter }}</div>
      </div>

      <div class="planet-info__block">
        <div class="planet-info__terrain"><i>Terrain:</i> {{ planet.terrain }}</div>
        <div class="planet-info__climate"><i>Climate:</i> {{ planet.climate }}</div>
        <div class="planet-info__population"><i>Population:</i> {{ planet.population }}</div>
      </div>
    </div>

    <div class="planet-info__residents" *ngIf="planet.residents.length">
      <div class="planet-info__residents-title">Residents</div>
      <app-residents-list [residentsUrls]="planet.residents"></app-residents-list>
    </div>
    <div class="planet-info__no-residents" *ngIf="!planet.residents.length">This planet has no residents</div>
  </div>
</div>
